menu {
  margin-right: 15px;
}
h2{
  font-size: 15px;
}

img {
  width: 200px;
}

p {
  font-size: 13px;
}

strong{
  font-size: 17px;
}


@media only screen and (min-width: 400px) {
  h2 {
    font-size: 18px;
  }
  img {
    margin: auto;
    width: 280px;
  }
  p {
    font-size: 16px;
  }
  strong{
    font-size: 20px;
  }
  iframe{
    margin-left: 5%;
    width: 350px;
    height: 300px;
  }
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 24px;
  }
  img {
    display: flex;
    justify-content: center;
    width: 350px;    
  }
  p {
    font-size: 20px;
  }
  strong{
    font-size: 25px;
  }
  iframe {
    margin-left: 25%;
    width: 400px;
    height: 350px;
  }
}
@media only screen and (min-width: 1200px){
  h2 {
    font-size: 35px;
  }
  img{
    width: 600px;
    margin: auto;
  }
  p {
    font-size: 25px;
  }
  strong {
    font-size: 30px;
    background-color: wheat;
  }
  iframe {
    margin-left: 28%;
    width: 560px;
  }
}
