html{
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit;
}
body{
  background-color: darksalmon;
  font-family: 'Commissioner', sans-serif;
  height: 100vh;
}
header{
  display: flex;
  flex-direction: row;
  align-items: center;
  top:-10px;
  left: -8px;
  padding: 8px;
  position: relative;
}
h1{
  padding: 0;
  margin: 0;
  font-size: 15px;
}
nav{
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  top: 1;
  right: 3px;
}
.navbar{
  padding: 6px;
  font-size: 10px;
  background-color: wheat;
  border: 2px solid darksalmon;
  text-decoration: none;
}

.navbar:hover{
  background-color: black;
  color: darksalmon;
}
.contenedor1 {
  display: flex;
  flex-direction: row;
  align-self: center;
}
.titulo-novedad{
  font-size: 40px;
  text-align: center;
}

.img-home{
  width: 100px;
  margin-left: 5px;
  margin-right: 95px;
}
details{
  margin-left: -25px;
}
summary, #descripcion{
  font-size: 12px;
}
.contenedor2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;

}
.contenedor3{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.redes{
  margin-left: 4px;
  text-decoration: none;
  font-size: 11px;
}
.dchos{
  display: flex;
  flex-direction: row;
  align-self: center;
  font-size: 12px;
}
i{
  margin: 2px;
}  
footer {
  background-color: wheat;
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  height: 90px;
  width: 100%;
}

@media only screen and (min-width: 400px){
  h1{
    font-size: 20px;
  }
  .navbar{
    padding: 8px;
    font-size: 10px;
  }
  
  .titulo-novedad{
    flex: 50%;
    font-size: 40px;
  }
  .img-home{
    margin-left: 5px;
    width: 150px;
  }
  details{
    margin-right: 16px;
  }
  summary, #descripcion{
    font-size: 20px;
  }
  footer {
    height: 130px;
    width: 100%;
  }

  i{
    margin: 6px;
  }
  .redes{
    margin-left: 4px;
    font-size: 13px;
  }
  .dchos{
    font-size: 15px;
  }
}

@media only screen and (min-width: 768px){
  h1{
    font-size: 35px;
  }
  .navbar{
    padding: 10px;
    font-size: 16px;
  }
  
  .titulo-novedad{
    flex: 50%;
    font-size: 80px;
  }
  .img-home{
    width: 200px;
  }

  summary, #descripcion{
    font-size: 22px;
  }
  footer {
    height: 130px;
    width: 100%;
  }
  .redes{
    font-size: 18px;
  }
  .dchos{
    font-size: 18px;
  }
}

@media only screen and (min-width: 1200px){
  h1{
    font-size: 45px;
  }
  
  .titulo-novedad{
    flex: 50%;
    font-size: 100px;
  }
  .img-home{
    width: 350px;
  }

  summary, #descripcion{
    font-size: 24px;
    margin-left: 5px;
  }
  footer {
    height: 130px;
    width: 100%;
  }
  .redes{
    font-size: 18px;
  }
  .dchos{
    font-size: 18px;
  }
}
