.sugerencia{
    font-size: 13px;
}
table{
  margin: auto;
  border-collapse: collapse;
  table-layout: fixed;
  width: 300px;
}

td{
  background-color: wheat;
}

th,td{
  padding: 6px;
  font-size: 10px;
  border: 2px solid darksalmon;
  text-align: center;
  word-wrap: break-word;
}
th{
  border: 2px solid black;
}
.portada{
  width: 30px;
}

@media only screen and (min-width: 400px){
  table{
    flex: 50%;
    width: 390px;
  }
  .sugerencia{
    font-size: 17px;
  }
  td,th {
    padding: 7px;
    font-size: 12px;
  }
  .portada{
    width: 65px;
  }
}

@media only screen and (min-width: 768px){
  table{
    flex: 50%;
    width: 590px;
  }
  .sugerencia{
    font-size: 25px;
  }
  td,th {
    padding: 15px;
    font-size: 16px;
  }
  .portada{
    width: 80px;
  }
}
@media only screen and (min-width: 1200px){
  table{
    flex: 50%;
    width: 890px;
  }
  .sugerencia{
    font-size: 30px;
  }
  td,th {
    padding: 20px;
    font-size: 22px;
  }
  .portada{
    width: 90px;
  }
}
